@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  body {
    color: #9a9a9a;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.65;
  }

  h1 {
    @apply text-white;
    font-size: 2.5em;
    font-weight: 100;
    line-height: 1.5;
  }

  h2 {
    @apply text-blue-700;
    font-size: 1.5em;
    font-weight: 100;
    line-height: 1.5;
  }

  h3 {
    @apply text-blue-700;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.5;
  }

  h4 {
    @apply text-blue-700;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
  }

  h2,
  h3,
  h4 {
    @apply text-blue-700 my-6;
  }

  blockquote {
    @apply italic;
  }

  lottie-player {
    @apply max-w-full max-h-full mx-auto;
  }

  section {
    @apply py-32;
  }

  section.wrapper.style1 {
    @apply bg-blue-700;
    color: #bacee6;
  }

  section.wrapper.style1 h2,
  section.wrapper.style1 h3 {
    @apply text-white;
  }

  article p {
    @apply my-5;
  }

  .content {
    width: 90%;
    max-width: 75em;
    margin: 0 auto;
  }

  .content > header {
    text-align: center;
    margin-bottom: 4em;
  }

  .content > header p {
    font-size: 1em;
  }

  #navbar {
    @apply w-full fixed;
  }

  #navbar ul {
    @apply max-w-screen-xl mx-auto;
  }

  #navbar li.nav-item {
    @apply no-underline tracking-wide font-bold text-xs py-3 flex-auto text-center;
  }

  #navbar li.nav-item.active {
    @apply border-blue-700 border-b-2;
  }

  #banner {
    @apply bg-fixed bg-top bg-no-repeat bg-cover text-center py-64;
    background-image: url("../img/banner.jpg");
  }

  #map {
    @apply max-w-full mx-auto;
    width: 400px;
    height: 20em;
  }

  #summary-container {
    @apply grid grid-cols-1 gap-10 w-full;
  }

  .summary-section-sm {
    /* @apply w-4/5; */
  }

  .summary-section-lg {
    /* @apply w-4/5; */
  }

  .member-container {
    @apply grid grid-cols-1 gap-10;
  }

  .member {
    @apply rounded-lg border py-16 px-10 text-center;
    border-color: rgba(255, 255, 255, 0.25);
  }

  .member img {
    @apply rounded-full;
  }

  .btn-blue {
    @apply inline-block bg-blue-700 text-white no-underline px-8 py-4 rounded transition-colors duration-200 ease-in-out;
  }
  .btn-blue:hover {
    @apply bg-blue-300;
  }
  .btn-blue:active {
    @apply bg-blue-400;
  }

  #section-footer {
    height: 5rem;
  }

  /* 640px + */
  @screen sm {
    #summary-container {
      @apply grid-cols-2;
    }

    .member-container {
      @apply grid-cols-2;
    }
  }

  /* 768px + */
  @screen md {
    #banner {
      @apply bg-scroll;
    }
  }

  /* 1024px + */
  @screen lg {
    .content {
      @apply w-4/5;
    }

    #summary-container {
      @apply grid-cols-3;
    }

    .summary-section-lg {
      @apply col-span-2;
    }

    .member-container {
      @apply grid-cols-3;
    }
  }

  /* 1280px + */
  @screen xl {
    .member-container {
      @apply grid-cols-4;
    }
  }
}
